#Brief_Intro {
	padding-top: 75px;
	padding-bottom: 50px;
}

#Brief_Intro h4 {
	padding-top: 20px;
	padding-bottom: 3px;	
}

#Brief_Intro center h1 {
	padding-top: 20px;	
}

#uoft_logo {
	padding-top: 35px;
}

#uoft {
	padding-top: 50px;
}

.one_course {
	padding: 10px 0px 10px 0px;
}